.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rmarkdown output
analysis/cache
analysis/figures
analysis/docs
analysis/*.html
analysis/*_cache
analysis/*_figures
analysis/*.pdf

# Data directory
data

# Output files
output
figures
additional

# Drafts
drafts
